* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Space Mono', monospace;
    width: 100%;
    height: 100%;
    background-image: url('../picture/black-white-photo-hourglass-close-up.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    text-align: center;
    padding-top: 20px;
    color: #ffc107;
}

.timer {
    width: 1180px;
    height: 750px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap:wrap;
    align-items: center;
}

.dots {
    font-size: 54px;
    font-weight: bold;
    color: white;
}

.timer__block {
    margin: 20px;
    width: 200px;
    height: 150px;
    text-align: center;
    display: grid;
    grid-template-rows: 70% 30%;
}

.time {
    color: white;
    font-size: 48px;
    padding-top: 15px;
    border-top-right-radius: 40px;
    border-top-left-radius: 0px;
}

.timer__title {
    padding-top: 5px;
    color: #ffc107;
    font-size: 20px;
    font-weight: bold;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.btn-start, .btn-stop, .btn-pause {
    padding: 10px 30px;
    background-color: #fd303de3;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    
}

  button.btn-start:active {
    background: springgreen;
    transform: translate(0em, 0.75em);
  }
  button.btn-start:active::before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
  }

  button.btn-stop:active {
    background: red;
    transform: translate(0em, 0.75em);
  }
  button.btn-stop:active::before {
    box-shadow: 0 0 0 2px #77495c, 0 0 #54c4ab;
    transform: translate3d(0, 0, -1em);
  }

  button.btn-pause:active {
    background: yellow;
    transform: translate(0em, 0.75em);
  }


.inp__settime {
  padding: 10px 7px;
  border:  2px solid black;
  background-color: #ffc107;
  border-radius: 5px;
}

.btn-paste {
    padding: 10px 7px;
    background-color: green;
    cursor: pointer;
}


@media screen and (min-width: 320px) and (max-width: 560px) {
  body {
    width: 100%;
    max-width: 500px;
  }

  .timer {
    width: 100%;
    max-width: 400px;
  }

  .timer__block {
    width: 120px;
    height: 80px;
  }
}